<?xml version="1.0"?>
<config>
    <modules>
        <Oggetto_Attribute>
            <version>0.1.0</version>
        </Oggetto_Attribute>
    </modules>
    <global>
        <models>
            <oggetto_attribute>
                <class>Oggetto_Attribute_Model</class>
                <resourceModel>attribute_resource</resourceModel>
            </oggetto_attribute>
            <attribute_resource>
                <class>Oggetto_Attribute_Model_Resource</class>
            </attribute_resource>
        </models>
        <helpers>
            <oggetto_attribute>
                <class>Oggetto_Attribute_Helper</class>
            </oggetto_attribute>
        </helpers>
        <blocks>
            <oggetto_attribute>
                <class>Oggetto_Attribute_Block</class>
            </oggetto_attribute>
        </blocks>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <oggetto_attribute>
                    <file>oggetto/attribute.xml</file>
                </oggetto_attribute>
            </updates>
        </layout>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <oggetto_attribute before="Mage_Adminhtml">Oggetto_Attribute_Adminhtml</oggetto_attribute>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>