<?xml version="1.0"?>
<config>
    <modules>
        <Oggetto_Shipping>
            <version>0.1.0</version>
        </Oggetto_Shipping>
    </modules>
    <frontend>
        <routers>
            <shipping>
                <use>standard</use>
                <args>
                    <module>Oggetto_Shipping</module>
                    <frontName>shipping</frontName>
                </args>
            </shipping>
        </routers>
        <layout>
            <updates>
                <oggetto_shipping>
                    <file>oggetto/shipping.xml</file>
                </oggetto_shipping>
            </updates>
        </layout>
    </frontend>
    <global>
        <blocks>
            <oggetto_shipping>
                <class>Oggetto_Shipping_Block</class>
            </oggetto_shipping>
        </blocks>
        <models>
            <oggetto_shipping>
                <class>Oggetto_Shipping_Model</class>
            </oggetto_shipping>
        </models>
        <resources>
            <oggetto_shipping_setup>
                <setup>
                    <module>Oggetto_Shipping</module>
                    <class>Oggetto_Shipping_Model_Resource_Setup</class>
                </setup>
            </oggetto_shipping_setup>
        </resources>
    </global>
    <default>
        <carriers>
            <oggetto_shipping>
                <active>1</active>
                <model>oggetto_shipping/carrier</model>
                <title>Oggetto Shipping Carrier</title>
                <sort_order>10</sort_order>
                <sallowspecific>0</sallowspecific>
                <express_max_weight>1</express_max_weight>
            </oggetto_shipping>
        </carriers>
    </default>
</config>