<?xml version="1.0"?>
<config>
    <modules>
        <Oggetto_OneClick>
            <version>0.4.0</version>
        </Oggetto_OneClick>
    </modules>
    <frontend>
        <layout>
            <updates>
                <oggetto_oneClick>
                    <file>oggetto/oneClick.xml</file>
                </oggetto_oneClick>
            </updates>
        </layout>
        <routers>
            <oneClick>
                <use>standard</use>
                <args>
                    <module>Oggetto_OneClick</module>
                    <frontName>oneclick</frontName>
                </args>
            </oneClick>
        </routers>
    </frontend>
    <global>
        <blocks>
            <oggetto_oneClick>
                <class>Oggetto_OneClick_Block</class>
            </oggetto_oneClick>
        </blocks>
        <models>
            <oggetto_oneClick>
                <class>Oggetto_OneClick_Model</class>
                <resourceModel>oneClick_resource</resourceModel>
            </oggetto_oneClick>
            <oneClick_resource>
                <class>Oggetto_OneClick_Model_Resource</class>
                <entities>
                    <oneClickOrders>
                        <table>oneClickOrders</table>
                    </oneClickOrders>
                    <oneClickLogs>
                        <table>oneClickLogs</table>
                    </oneClickLogs>
                </entities>
            </oneClick_resource>
        </models>
        <helpers>
            <oggetto_oneClick>
                <class>Oggetto_OneClick_Helper</class>
            </oggetto_oneClick>
        </helpers>
        <resources>
            <oneClick_setup>
                <setup>
                    <module>Oggetto_OneClick</module>
                </setup>
            </oneClick_setup>
        </resources>
        <events>
            <checkout_submit_all_after>
                <observers>
                    <oggetto_oneClick_model_observer>
                        <type>singleton</type>
                        <class>Oggetto_OneClick_Model_Observer</class>
                        <method>updateOrder</method>
                    </oggetto_oneClick_model_observer>
                </observers>
            </checkout_submit_all_after>
        </events>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <oggetto_oneClick>
                    <file>oggetto/oneClick.xml</file>
                </oggetto_oneClick>
            </updates>
        </layout>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <oggetto_oneClick before="Mage_Adminhtml">Oggetto_OneClick_Adminhtml</oggetto_oneClick>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <phpunit>
        <suite>
            <modules>
                <Oggetto_OneClick />
            </modules>
        </suite>
    </phpunit>
</config>