<config>
    <modules>
        <Oggetto_Question>
            <version>0.1.0</version>
        </Oggetto_Question>
    </modules>
    <frontend>
        <routers>
            <question>
                <use>standard</use>
                <args>
                    <module>Oggetto_Question</module>
                    <frontName>question</frontName>
                </args>
            </question>
        </routers>
        <layout>
            <updates>
                <oggetto_question>
                    <file>oggetto/question.xml</file>
                </oggetto_question>
            </updates>
        </layout>
    </frontend>
    <global>
        <models>
            <oggetto_question>
                <class>Oggetto_Question_Model</class>
                <resourceModel>question_resource</resourceModel>
            </oggetto_question>
            <question_resource>
                <class>Oggetto_Question_Model_Resource</class>
                <entities>
                    <questions>
                        <table>questions</table>
                    </questions>
                </entities>
            </question_resource>
        </models>
        <helpers>
            <oggetto_question>
                <class>Oggetto_Question_Helper</class>
            </oggetto_question>
        </helpers>
        <blocks>
            <oggetto_question>
                <class>Oggetto_Question_Block</class>
            </oggetto_question>
        </blocks>
        <resources>
            <question_setup>
                <setup>
                    <module>Oggetto_Question</module>
                    <class>Oggetto_Question_Model_Resource_Setup</class>
                </setup>
            </question_setup>
        </resources>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <oggetto_question>
                    <file>oggetto/question.xml</file>
                </oggetto_question>
            </updates>
        </layout>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <oggetto_question before="Mage_Adminhtml">Oggetto_Question_Adminhtml</oggetto_question>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>